.banner {
    margin-top: 43px;

    .banner-container {
        display: flex;
        justify-content: space-between;

        .banner-slide-photo {
            width: 59%;

            .slider {
                .slick-items {

                    .images-top {
                        position: relative;

                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }

                    .images-content {
                        top: 50%;
                        position: absolute;
                        margin: 0px 80px;

                        .banner-title {
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 35px;
                            font-weight: 700;
                            line-height: 45px;
                        }

                        .banner-paragrap {
                            color: #fff;
                            font-family: Nunito;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            margin-right: 120px;
                        }
                    }
                }
            }

            // slick photo buttons
            .slick-dotted.slick-slider {
                margin-bottom: 0px;
                position: relative;
            }

            button.slide-arrow.prev-arrow.slick-arrow,
            button.slide-arrow.next-arrow.slick-arrow {
                position: absolute;
                z-index: 99;
                align-items: center;
                display: flex;
                bottom: 50%;
                border-radius: 100%;
                background: red;
                color: white;
                font-size: 20px;
                padding: 0px 3px;
                border: none;
            }

            button.slide-arrow.next-arrow.slick-arrow {
                float: right;
                right: 0;
            }

            // slide dots styles
            .slick-dots {
                bottom: 20px;
            }

            .slick-dots li button:before {
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: transparent;
                background-color: #4E4E4E;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

            .slick-dots li.slick-active button:before {
                opacity: .75;
                color: transparent;
                background: #BCBCBC;
                border-radius: 100%;
                width: 10px;
                height: 10px;
            }
        }

        .banner-slide-posts {
            width: 39%;
            border-radius: 15px;
            border: .25px solid rgba(0, 0, 0, .5);
            background: #f9f9f9;

            .banner-slide-posts-header {
                h3 {
                    color: #292929;
                    font-family: Poppins;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 10px 0px 10px 24px;
                }
            }

            .banner-slide-posts-slider {
                .slick-items {
                    .slick-item {
                        display: flex;
                        margin-bottom: 28px;

                        .images-top-right {

                            img {
                                width: 80px;
                                border-radius: 10px;
                                margin-right: 10px;
                            }
                        }

                        .images-content-right {
                            h6 {
                                color: #2B2B2B;
                                font-family: Poppins;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }

                            p {
                                color: #686868;
                                font-family: Nunito;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }

            }

            .slick-dotted.slick-slider {
                margin-bottom: 0px;
            }

            // slide dots styles
            .slick-dots {
                bottom: 20px;
            }

            .slick-dots li button:before {
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: transparent;
                background-color: #D2D2D2;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

            .slick-dots li.slick-active button:before {
                opacity: .75;
                color: transparent;
                background: #6C6C6C;
                border-radius: 100%;
                width: 10px;
                height: 10px;
            }
        }
    }

}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .banner .banner-container {
        display: flex;
        flex-direction: column;
    }

    .banner .banner-container .banner-slide-photo {
        width: 100%;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content {
        margin: 10px;
        top: 100px;
    }

    .banner .banner-container .banner-slide-photo .slick-dots {
        bottom: 0px;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content .banner-title {
        color: #fff;
        font-family: Poppins;
        font-size: 14px;
        line-height: 20px;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content .banner-paragrap {
        margin: 0;
        font-size: 12px;
        line-height: 16px;
    }

    .banner .banner-container .banner-slide-posts {
        width: 100%;
        margin-top: 40px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {
    .banner .banner-container {
        display: flex;
        flex-direction: column;
    }

    .banner .banner-container .banner-slide-photo {
        width: 100%;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content {
        margin: 10px;
        bottom: 50px;
        padding: 0 50px;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content .banner-title {
        color: #fff;
        font-family: Poppins;
        font-size: 25px;
    }

    .banner .banner-container .banner-slide-photo .slider .slick-items .images-content .banner-paragrap {
        margin: 0;
        font-size: 16px;
    }

    .banner .banner-container .banner-slide-posts {
        width: 100%;
        margin-top: 40px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
    .banner .banner-container .banner-slide-posts {
        width: 30%;
    }

    .images-top-right {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .banner .banner-container .banner-slide-posts .banner-slide-posts-slider .slick-items .slick-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}