.banner-container {
    display: flex;

    .left-section {
        max-width: 60%;

        .images-top img {}

        .images-content {
            z-index: 99;
        }
    }

    .right-section {
        max-width: 40%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}