// Container
.container {
    max-width: 1252px;
    padding: 0 12px;
    margin: 0 auto;

}

// Row
.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

// Columns
.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.layout-3 {
    background: linear-gradient(180deg, rgba(25, 29, 35, 0) -19.17%, rgba(0, 0, 0, 0.6) 79.2%);
    top: 0;
    bottom: 3px;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.d-grid-col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-columns-gap-24 {
    grid-column-gap: 24px;
}