.header-images {
    margin-top: 67px;

    .all-card {
        margin-top: 21px;

        .card {
            .card-images {
                position: relative;

                .images-title {
                    padding: 0 10px 20px 10px;
                }
            }
        }
    }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .header-images {
        .all-card {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {
    .header-images {
        .all-card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
    .header-images {
        .all-card {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}