.informed-update-everything-going {
    margin-top: 75px;

    .informed-update {
        padding: 65px 0;
        align-items: center;
        background-image: linear-gradient(rgba(22, 24, 27, 0.5), rgba(22, 24, 27, 0.5)), url("/images/information-update/lake-scene.png");
        border-radius: 10px;
        justify-content: center;

        .title {
            h1 {
                color: $white-color;
                font-family: $font-family-Poppins;
                font-size: 40px;
                font-weight: 700;
            }
        }
    }

    .input-email-submit-btn {
        text-align: end;
        // padding-right: 100px;

        .btn {
            padding: 7px 45px;
            color: $white-color;
            border-radius: 10px;
            background: #FF005C;
            font-family: $font-family-Poppins;
            font-size: 18px;
            font-weight: 500;
        }
    }

    input#input-email {
        width: 350px;
        color: rgba(69, 69, 69, .7);
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        background: rgba(255, 255, 255, .6);
        padding: 16px 24px;
        display: block;
    }

}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .informed-update-everything-going .informed-update {
        flex-direction: column;
    }

    .informed-update-everything-going .informed-update .title h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .informed-update-everything-going input#input-email {
        width: 280px;
        color: $white-color;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {
    .informed-update-everything-going .informed-update {
        flex-direction: column;
    }

    .informed-update-everything-going .informed-update .title h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .informed-update-everything-going input#input-email {
        width: 280px;
        color: $white-color;
    }

    .informed-update-everything-going input#input-email {
        padding: 10px 26px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
    .informed-update-everything-going .informed-update {
        padding: 65px 10px;
    }

    .informed-update-everything-going .informed-update .title h1 {
        font-size: 30px;
        font-weight: 700;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}