.life-style {
    margin: 30px 0px 10px 0px;

    ul {
        display: flex;

        li {
            a {
                color: #6A6A6A;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .life-style ul {
        flex-direction: column;
        text-align: center;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}