.navbar-brand-bars-icons {
    display: flex;
}

.navbar-nav {
    align-items: center;
    display: flex;
    background: $white-color;
}

.navbar-nav ul {
    display: flex;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
}

input.form-control {
    border: none;
    background-color: transparent;
    outline: none;
}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    color: $b80-black-color;
    font-family: $font-family-Poppins;
    font-size: 20px;
    font-weight: 500;
}

.nav-link:hover {
    color: $pigment-red-color;
}

.navbar-brand-bars-icons {

    button.navbar-toggler,
    input[type=submit] {
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        display: none;
    }
}

// sub Menu
.subnavlink ul.sub-menu {
    background-color: blanchedalmond;
    display: none;
    position: absolute;
    z-index: 9;
    top: 36px;
    border-radius: 5px;

    .nav-link {
        font-size: 16px;
    }
}

ul.dropdown-sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    margin-top: -6px;
    border-radius: 5px;
}

li.nav-item.subnavlink .sub-menu .nav-item {
    margin: 0px;
    padding: 10px;
}

.subnavlink:hover ul.sub-menu {
    display: block;
}

// dropdown Menu
ul.sub-menu-drop-down {
    background-color: #daa520;
    margin-left: 105px;
    margin-top: -10px;
    display: none;
    border-radius: 5px;
    position: absolute;
}

.dropdown:hover ul.sub-menu-drop-down {
    display: block;
    width: 160px;
}

// search button

.search .search-icons {
    width: 30px;
    height: 30px;
    color: #14181F80;
}


.search button.btn {
    align-items: center;
    display: flex;
    background-color: $white-smoke;
    padding: 10px;

    input {
        font-size: 16px;
        width: 130px;
    }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

    .navbar-brand-bars-icons button.navbar-toggler,
    .navbar-brand-bars-icons input[type=submit] {
        display: block;
        right: 12px;
        position: absolute;
    }

    .navbar-nav {
        margin-top: 100px;
        display: none;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 20px;
        background: #404040;

        ul {
            display: block;

            li {
                margin-bottom: 20px;
            }
        }
    }

    .search button.btn {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .search button.btn input {
        width: 100%;
    }

    .nav-link {
        color: rgb(255 255 255);
    }

    .active {
        display: block;
    }

    .navbar-nav form button.btn {
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {

    .navbar-brand-bars-icons button.navbar-toggler,
    .navbar-brand-bars-icons input[type=submit] {
        display: block;
        right: 12px;
        position: absolute;
    }

    .navbar-nav {
        margin-top: 100px;
        display: none;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 20px;
        background: #404040;

        ul {
            display: block;

            li {
                margin-bottom: 20px;
            }
        }
    }

    .search button.btn {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .search button.btn input {
        width: 100%;
    }

    .nav-link {
        color: rgb(255 255 255);
    }

    .active {
        display: block;
    }

    .navbar-nav form button.btn {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
    .header-section .navbar-brand {
        font-size: 20px;
        font-weight: 700;
    }

    .header-section .nav-link {
        font-size: 16px;
    }

    .header-section .nav-item {
        margin-right: 20px;
    }

    .header-section nav.navbar {
        align-items: center;
    }

    .header-section .search button.btn {
        padding: 5px;
    }

    .header-section .search .search-icons {
        width: 20px;
        height: 20px;
        color: rgba(20, 24, 31, .5019607843);
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1201px) and (min-width: 1400px) {}